# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# macOS and editor files
.DS_Store
.vscode/
.idea/

# dotenv library files
.env
*.env

# weather chart files #
*.pdf
*.png

# SSL certificate files #
server.key
server.crt

