# Salesforce auth & org-specific
.sf/
sfdx-config.json
**/.sf/

# Local retrieve/deploy artifacts
**/*.log
**/*.tmp
**/*.bak

# OS / editor junk
.DS_Store
.vscode/
.idea/

# Retrieved but meaningless
**/package.xml

# Salesforce noize
**/listViews/**
